<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
       
    
    
    {% load static %}
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{% static 'img/logo.jpg' %}" width="130px" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if  request.session.logged_user_info %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/in">Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/booking">Booking</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        {% if request.session.logged_user_info.user_role == 1 %}
                        <li class="nav-item active">
                            <a class="nav-link " href="/admin">Admin View</a>
                        </li>
                        {% endif %}
                        
                        <li>
                            <form class="form-inline space">
                                <input name="product" id="product" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            
                        </li>
                    {% endif%} 
                    {% if not request.session.logged_user_info %}
                        <form class="form-inline">
                            <label class="nav-item active"> Email:</label>
                            <input class="form-control mr-sm-2"  placeholder="Email">
                            <label class="nav-item active"> Password:</label>
                            <input class="form-control mr-sm-2"  placeholder="Password">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log-In</button>
                        </form>
                        <form class="form-inline">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
                        </form>
                        {% endif%}
                        {% if request.session.logged_user_info %}
                            <li class="nav-item active">
                                <a class="nav-link " href="/profile">Hello {{ request.session.logged_user_info.first_name }} {{request.session.logged_user_info.last_name}}</a>
                            </li>  
                            <form class="form-inline" action="log_out"  method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
                            </form>  
                        {% endif%}
                </ul>
            </div>
        </nav>
        <main>
            <div class="consultant">
            {% for consultant in consultants %}
            <fieldset>
                <legend>
                    <img src="{% static 'img/profile-pic.png' %}" alt="user Profile image" height="50px" width="50px" /><h2>Consultant info</h2>
                </legend>
                <ul>
                    <li>Fisrt Name :{{consultant.first_name}}</li>
                    <li>Last Name :{{consultant.last_name}}</li>
                    <li>Email :{{consultant.email}}</li>
                    <button class="button_now" > Visit Consultant Profile</button>
                </ul>
                
            </fieldset>
            {% endfor %}
            </div>
            <fieldset>
                <legend>
                    <img src="{% static 'img/booking.png' %}" alt="user Profile image" height="50px" width="50px" /><h2>Booking</h2>
                </legend>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="available_dates" class="col-form-label"> Available dates</label>
                        <div><input type="date" id="date" name="Available-date"></div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-form-label"> Book your session</label>
                        <div><input type="date" id="date" name="booking_session"></div>
                    </div>
                    <button class="bn">BOOK NOW!</button>
                </form>
            </fieldset>
        </main>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Footer -->
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0" >
                <h5 class="text-uppercase">Get That Job</h5>
        
                <p>
                    This Privacy Policy describes Our policies and procedures on the collection,
                    use and disclosure of Your information when You use the Service and tells You
                    about Your privacy rights and how the law protects You.
    
                    We use Your Personal data to provide and improve the Service. By using the
                    Service, You agree to the collection and use of information in accordance with
                    this Privacy Policy.
                </p>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact info</h5>
                <br>
                <ul class="list-unstyled mb-0">
                    <li>
                        <img src="{% static 'img/phone.jpg' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">  00972(22974523) </a>
                    </li>
                    <li>
                        <img src="{% static 'img/email.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark"> info.gethatjob@gmail.com</a>
                    </li>
                    <li>
                        <img src="{% static 'img/fax.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark"> 00972(22974523)</a>
                    </li>
                </ul>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Social media accounts</h5>
                <br>
                <ul class="list-unstyled">
                    <li>
                        <img src="{% static 'img/fb.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                    </li>
                    <li>
                        <img src="{% static 'img/twitter.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                    </li>
                    <li>
                        <img src="{% static 'img/linkedin.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                    </li>
                </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgb(154 172 175)">
            © 2020 Copyright:
            <a class="text-dark" href="https://GetThatJob.com/">GetThatJob.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
</body>
</html>