<!doctype html>
<html lang="en">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";}
        else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";}
        }

    </script>
    <head>
        
        {% load static %}
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
    <!-- Bootstrap CSS -->
    
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img src="{% static 'img/logo.jpg' %}"width="130px" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if  request.session.logged_user_info %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/in">Home </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/booking">Booking</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>
                            {% if request.session.logged_user_info.user_role == 1 %}
                            <li class="nav-item active">
                                <a class="nav-link " href="/admin">Admin View</a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <form class="form-inline space" action="/in" method="POST">
                                    {% csrf_token %}
                                    <input name="product" id="product" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                                <script>
                                    $(function () {
                                        $("#product").autocomplete({
                                            source: '{% url 'autocomplete' %}',
                                        });
                                    });
                                </script>
                            </li>
                        {% endif%} 
                        {% if not request.session.logged_user_info %}
                            <form class="form-inline">
                                <label class="nav-item active"> Email:</label>
                                <input class="form-control mr-sm-2"  placeholder="Email">
                                <label class="nav-item active"> Password:</label>
                                <input class="form-control mr-sm-2"  placeholder="Password">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log-In</button>
                            </form>
                            <form class="form-inline">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
                            </form>
                            {% endif%}
                            {% if request.session.logged_user_info %}
                                <li class="nav-item active">
                                    <a class="nav-link " href="/profile">Hello {{ request.session.logged_user_info.first_name }} {{request.session.logged_user_info.last_name}}</a>
                                </li>  
                                <form class="form-inline" action="log_out"  method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
                                </form>  
                            {% endif%}
                    </ul>
                </div>
            </nav>
            <div class="content">
                <div id="about" class="jumbotron">
                    <h3>About Get That Job</h3>
                    <hr>
                    <p>Fresh graduates face many obstacles after graduation. one of the most critical struggles is the gap between the academic background and the skills needed for interviews,<span id="dots">...</span><span id="more"> Our team in Get That Job addressed the problem and worked hard to get the best solution.
                        Out of our duty as a part of this community we took the responsibility to train youth and develop their needed skills and enable them to Get That Job!
                        Our goal is to create a platform that seeks to fill the gap between academic knowledge and interview skills, by creating valuable content to develop the needed skills. Content is displayed as videos, articles and sketches. This platform offers online consulting by putting users in virtual interviews with professionals to evaluate the users and give them feedback on their strengths and weaknesses.</span></p>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                </div>
                <div id="about" class="jumbotron">
                    <h3>Book Your Sessions NOW!!</h3>
                    <hr>
                    <p class="justified">If you are having a hard time preparing for your job interview, well you have come to the right place! take a quick look at our consultants. we have chosen one of the best consultants to perpare you to get the job of your dreams!
                        You can book your session now just by clicking the booking button.
                        Please take time to review the success stories that might inspire you. Join us and book your session to let us help you to Get That Job.
                    </p>
                    <button>BOOK NOW!</button>
                    <br />
                    <!-- <a href="#" rel="noopener noreferrer" target="_blank">Book Now</a>  -->
                    </p>
                </div>
                <div id="about" class="jumbotron">
                    <h3>Success Stories</h3>
                    <hr>
                    <p class="justified"> You are the next success story! Here are some of the success stories for users who managed to get the job using or website, feel free to contact the users through their profile to have feedback.</p>
                    <button>Show Success Stories!</button>
                    <br />
                    </p>
                </div>
                <div id="about" class="jumbotron">
                    <h3>Meet Our Partners</h3>
                    {% for partner in partners %}
                    <ul>
                        <li> name of company  "{{partner.name}}" </li>
                        <li> sector of company "{{partner.about}}" </li>
                        <hr>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Get That Job</h5>
    
            <p>
                This Privacy Policy describes Our policies and procedures on the collection,
                use and disclosure of Your information when You use the Service and tells You
                about Your privacy rights and how the law protects You.

                We use Your Personal data to provide and improve the Service. By using the
                Service, You agree to the collection and use of information in accordance with
                this Privacy Policy.
            </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact info</h5>
            <br>
            <ul class="list-unstyled mb-0">
                <li>
                    <img src="{% static 'img/phone.jpg' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">  00972(22974523) </a>
                </li>
                <li>
                    <img src="{% static 'img/email.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark"> info.gethatjob@gmail.com</a>
                </li>
                <li>
                    <img src="{% static 'img/fax.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark"> 00972(22974523)</a>
                </li>
            </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Social media accounts</h5>
            <br>
            <ul class="list-unstyled">
                <li>
                    <img src="{% static 'img/fb.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                </li>
                <li>
                    <img src="{% static 'img/twitter.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                </li>
                <li>
                    <img src="{% static 'img/linkedin.png' %}" alt="user Profile image" height="30px" width="30px" /><a href="#!" class="text-dark">GetThatJob</a>
                </li>
            </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(154 172 175)">
        © 2020 Copyright:
        <a class="text-dark" href="https://GetThatJob.com/">GetThatJob.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </body> 
</html> 