<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>playground</title>
    <style>
        .container{
            text-align: center;
        }
        .box{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            display: inline-block;
        }
        h1{
            margin-left: 150px;
        }
       
    </style>    
    </head>
    <body>
    </body>
    <div class ="container">
        <h1>Welcome!</h1>
        {% for box in range (input_box) %}
            <div class="box" style ="background-color : {{ user_color }}" ></div>
        {% endfor %}
    </div>
   
    </body>
</html>